---
type Props = {
  className?: string;
  showImages?: boolean;
  pageSize?: number;
};

const { showImages = false, pageSize = 25, className } = Astro.props;
---

<div class:list={["searchBar", "collapsed", className]}>
  <div
    id="search"
    class="pagefind-ui pagefind-init"
    data-bundle-path="/pagefind/"
    data-page-size={pageSize}
    data-show-images={showImages ? "true" : "false"}
  ></div>
</div>
