---
import Search from "astro-pagefind/components/Search";

type Props = {
  className?: string;
  showImages?: boolean;
}

const { showImages = false, className } = Astro.props;
---

<div class:list={["searchBar", "collapsed", className]}>
  <Search
    id="search"
    class:list="pagefind-ui"
    uiOptions={{ showImages }}
  />
</div>
