
.challenge {
  display: none;
}

.challenge .description h1 {
  display: none;
}

.challenge h1 {
  margin-bottom: 0px;
}

.challenge .challenge-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  margin-bottom: 1.25rem;
  margin-top: 0px;
  border-top: 1px dotted #888;
  text-align: center;
}
