:root {
  --border-radius: 0.125rem;
  --percent-completed: 0;
}
p:empty {
  display: none;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.quiz-grid {
  margin-top: -1.5em;
}
.top-text {
  max-width: clamp(30ch, 80%, 46ch);
}

.inset .top-text {
  max-width: clamp(20ch, 80%, 46ch);
}

strike {
  color: #696969
}

.quiz-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-auto-flow: dense;
  gap: 2rem;
  perspective: 2000px;
  transform-style: preserve-3d;

  h2 {
    font-size: 2rem;
    line-height: 1.5;
  }
}
.expanded-row {
  grid-column: 1 / -1;
}

.quiz-card {
  position: relative;
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) * 2);
  --local-color: var(--cold-bg);
  transition:
    background 0.3s ease-out,
    background-color 0.3s ease-out,
    color 0.3s ease-out,
    padding 0.3s ease-out,
    transform 0.3s ease-out;

  h2 {
    font-size: 1.25rem;
    margin: 0;
  }
}

.quiz-card-inner::after {
  content: "";
  position: absolute;
  --card-border-size: calc(var(--border-radius) * 2);
  --progress-height: calc(var(--percent-completed) * 100%);
  inset: auto var(--card-border-size) var(--card-border-size)
    var(--card-border-size);
  background-color: var(--neon-green);
  background-blend-mode: overlay;
  background-position: 0 0;
  background-size: 100% 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: var(--border-radius);
  transition:
    width 0.5s ease-in-out 0.5s,
    background-color 0.3s ease-out,
    background 0.3s ease-out;
  /* border-bottom-left-radius: var(--border-radius); */
  height: 0.25rem; /* calc(100% - var(--card-border-size) * 2);*/
  width: calc(var(--progress-height) - var(--card-border-size) * 2);
  /* border-radius: var(--border-radius); */
}

.quiz-card-inner {
  display: grid;
  align-content: space-between;
  padding: 0.75rem;

  /* padding: 1.5rem; */
  background: #222;
  color: #fff;
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
}

.completed .quiz-card-inner {
  background-color: #444;
  &::after {
    border-radius: 0;
  }
}

.quiz-card * {
  cursor: pointer;
}

.quiz-card::before,
.quiz-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--local-color, --after-party-bg);
  background-size: 500%;
  z-index: -1;
  /* animation: none; */
  animation: glow 2s linear 3 normal;
  /* animation-play-state: paused; */
  width: 100%;
  border-radius: var(--border-radius);
  /* transform: rotateX(--x-rotation) rotateY(--y-rotation) scale(1.1); */
}

.quiz-card::after {
  filter: blur(25px);
  transform: translate3d(0, 0, 0);
}

.tilt-effect:not(.completed) {
  /* perspective: 1000px; */
  transition: all 0.25s ease-in-out;
  object-fit: contain;
  /* border-radius: 10px; */
  &:hover {
    transform: perspective(400px) rotate3d(1, -1, 0, 5deg);
    /* rotateX(-5deg) rotateY(0) rotateZ(0deg) skewX(-5deg) translateX(-5px) translateY(-5px) rotate3d(1, 1, 1, 10deg); */
    box-shadow: 0.5rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
    /* animation: wobble3d 5s infinite alternate .05s ; */
  }
}

.completed {
  animation: none !important;
}

.quiz-card:nth-child(1) {
  animation-delay: 0.1s;
  /* transform: rotateY(0deg) rotateX(10deg); */
}
.quiz-card:nth-child(2) {
  animation-delay: 0.2s;
  /* transform: rotateY(90deg) rotateX(10deg); */
}
.quiz-card:nth-child(3) {
  animation-delay: 0.3s;
  /* transform: rotateY(180deg) rotateX(10deg); */
}
.quiz-card:nth-child(4) {
  animation-delay: 0.4s;
}
.quiz-card:nth-child(5) {
  animation-delay: 0.5s;
}
.quiz-card:nth-child(6) {
  animation-delay: 0.6s;
}

.toggle-filters {
  /* Temp: Disabled */
  display: none;
  font-size: 1.25rem;

  &::after {
    content: "";
    background: var(--icon-settings);
    display: inline-block;
    margin-left: 0.5em;
    width: 1.125em;
    height: 1.125em;
  }
}

.selectedItem {
  background-image: var(--neon-purple-gradient);
  color: #fff;
}

.quiz-card:not(.completed):hover,
.quiz-card:not(.completed):active,
.quiz-card:not(.completed):focus,
.quiz-card:not(.completed):focus-within {
  --local-color: var(--party-bg);
  &::before,
  &::after {
    animation: glow 2.5s linear infinite alternate paused;
    /* animation-play-state: running; */
  }
  /* animation-play-state: running; */
}

:target {
  animation: yellowFlash .5s ease-out 1;
}

@keyframes yellowFlash {
  0% {
    background-color: var(--neon-yellow);
  }
  50% {
    background-color: var(--neon-yellow);
  }
  100% {
    background-color: var(--neon-yellow);
  }
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes keyRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(1deg);
  }
  45% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wobble3d {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  15% {
    transform: rotate3d(0, 1, 0, -5deg);
  }
  30% {
    transform: rotate3d(0, 1, 0, 3deg);
  }
  45% {
    transform: rotate3d(0, 1, 0, -3deg);
  }
  60% {
    transform: rotate3d(0, 1, 0, 2deg);
  }
  75% {
    transform: rotate3d(0, 1, 0, -1deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

.wobble {
  animation: wobble 0.5s ease-in-out infinite;
}

.wobble3d {
  animation: wobble3d 0.5s ease-in-out infinite;
}

.fun-facts {
  max-width: min(900px, 98vw);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  row-gap: 2.5rem;
  margin: 18rem auto 1rem auto;
  
  strong {
    font-size: 125%;
    font-weight: 400;
    padding-inline: 0 .25rem;
  }
}
