html {
  scroll-padding-top: 2.5rem;
  scroll-behavior: smooth;
}

.quiz-ui {
  grid-column: 1 / -1;
  padding: 1rem 0;
  max-width: 550px;
  margin: 0 auto;
  /* max-width: 98vw; */
  /* counter-increment: question-counter; */

  .card-container {
    perspective: 1000px; /* Creates the 3D perspective */
    /* min-height: 280px; */
    transform-style: preserve-3d; /* Preserves 3D effect for children */
  }

  .card {
    background-color: var(--quiz-bg);
    width: 100%;
    /* height: 100%; */
    position: relative;
    transition: transform 0.39s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  /* Toggle flip effect */
  .card-container:not(.card-flip) {
    .card-front {
      /* transform: rotateY(0deg); */
    }
    .card-back {
      transform: rotateY(180deg);
      height: 0;
    }
  }

  .card-container.card-flip {
    min-height: 260px;
    transition: height 0.25s ease-in-out;
    .card-front {
      transform: rotateY(180deg);
    }
    .card-back {
      transform: rotateY(0deg);
    }
  }

  /* Front and back faces of the card */
  .card-front,
  .card-back {
    /* overflow-y: auto; */

    background-color: var(--quiz-bg);
    position: absolute;
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden; /* Hides the back when not visible */
  }
  /* .correct .card-front,
.correct .card-back {

  background-color: var(--quiz-success);

} */

  /* Back face styling */
  /* .card-back { */
  /* transform: rotateY(-180deg); Rotates the back face */
  /* } */
}

@screen sm {
  .quiz-ui {
    padding: 1rem 0;
  }
}

:root {
  --quiz-header-bg: #121a21;
  /* --quiz-muted-bg: rgb(250, 250, 250, 0.5); */
  --quiz-muted-bg-transparent: rgb(170, 170, 170, 0.1);
  --quiz-muted-bg: rgb(170, 170, 170, 1);
  --quiz-muted-fg: rgb(250, 250, 250, 0.85);
  --quiz-darker: rgb(50, 50, 50, 0.95);
  --quiz-bg-solid: rgb(33, 33, 33, 1);
  --quiz-bg: rgb(217, 217, 217, 0.1);
  --quiz-bg-lighter: rgb(50, 69, 83);
  --quiz-fg: rgb(250, 250, 250, 1);
  --quiz-fg-dark: rgb(20, 20, 20, 0.8);
  --quiz-border: rgb(185, 185, 185, 0.9);
  --quiz-border-solid: rgb(75, 75, 75, 1);
  --quiz-divider-color: rgb(255, 255, 255, 0.25);

  --quiz-success: rgb(130, 255, 157, 1);
  --quiz-error: rgb(230, 9, 185); /* rgb(255, 130, 157, 1); */
}

@keyframes shadow-in {
  0%,
  100% {
    /* opacity: 0; */
    box-shadow: 0 0 0rem 0rem transparent;
  }
  /* 25%, 75% {
    box-shadow: 0 0 1rem .25rem hsl(322 100% 82%);
  } */
  50% {
    /* opacity: 1; */
    box-shadow: 0 0 0.75rem 0.125rem hsl(322 100% 72%);
  }
}

/* @supports (scroll-snap-align: start) {
  .quiz-ui {
    scroll-snap-type: y proximity;
    scroll-padding-top: 15vh;
    overflow-y: scroll;
  }
  .challenge {
    scroll-snap-align: start;
  }
} */

.challenge {
  background-color: var(--quiz-bg);
  color: var(--quiz-fg);
  border: 1px solid var(--quiz-border);
  /* border-radius: 0.125rem; */
  /* padding: 1rem; */
  display: grid;
  grid-template-rows: 3.25rem min-content minmax(auto, 3.5rem) min-content auto;
  grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));

  /* row-gap: 1.5rem; */
  margin-block: 2rem 6rem;
  width: 100%;
  max-width: 100%;

  transition: box-shadow 0.25s ease-in-out;

  animation: shadow-in linear;
  animation-timeline: view();
  /* animation-range: entry 150px; */
  /* animation-range-start: contain 5rem;
  animation-range-end: exit; */

  animation-range-start: cover 300px;

  animation-range-end: cover;
  /* animation-range-end: 10vh; */
  /* &:focus-within,
  &:hover:not(.correct) {
    box-shadow: 0 0 1rem .25rem rgb(254 164 221);
  } */

  .quiz-header {
    border-bottom: 2px solid transparent;
    background-color: var(--quiz-header-bg);
    color: var(--quiz-fg);
    /* padding: 1rem; */
    border-bottom: 1px solid var(--quiz-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 1.25rem;
    height: 3rem;
    overflow: hidden;

    padding-inline: 1rem;
    .quiz-question-count {
      font-size: 2rem;
      font-weight: 600;
      margin: 0;
      a,
      :active,
      :visited {
        color: var(--quiz-muted-fg);
      }
    }
    /*
    counter-increment: question-counter;

    .quiz-question-count::after {
      content: " / " counter(question-counter);
    } */

    /* gap: 1rem; */
    .quiz-title {
      color: var(--quiz-muted-fg);
      font-size: 1.5rem;
      font-weight: 300;
      text-shadow: 1px 1px 1px var(--quiz-darker);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  :not(.correct) {
    .option:hover {
      background-color: var(--quiz-muted-bg-transparent);
    }
  }
  &.correct {
    animation: none;
    border: 1px solid var(--quiz-success);
    .quiz-header {
      border-bottom: 2px solid var(--quiz-success);
      .quiz-title,
      .quiz-question-count {
        color: var(--quiz-fg);
      }
    }
    /* Dim the options, highlight the .correct-answer */

    .option.correct-answer {
      cursor: default;
      color: var(--quiz-fg);
      filter: none;
      height: auto !important;
      padding: 0.5rem;
      /* border: 1px solid var(--quiz-success); */
    }
    .option *:hover {
      cursor: default;
    }
    .quiz-hint-toggle button:hover {
      opacity: 1;
      transform: unset;
      box-shadow: none !important;
    }
  }
  &.incorrect {
    /* animation: none; */
    border: 1px solid var(--quiz-error) !important;
    .quiz-header {
      border-bottom: 2px solid var(--quiz-error);
      .quiz-title,
      .quiz-question-count {
        color: var(--quiz-fg);
      }
    }
  }

  &.untouched {
    .btn-reset {
      filter: grayscale(100%);
      opacity: 50%;
      cursor: not-allowed;
    }
  }

  /* &:has(*:target) {
    .quiz-header {
      border-bottom: 2px solid var(--neon-pink) !important;
    }
  } */

  div.explanation {
    display: none;
    position: absolute;
    visibility: hidden;
  }

  .quiz-hint-toggle {
    text-align: right;
    color: var(--quiz-muted-fg);
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    justify-content: end;

    .watermark {
      /* 
      We need to make sure the watermark is hidden by default, we only want to see it when in screenshot mode. (screenshotter script).
      */
      display: none;
      text-align: left;
      justify-self: start;
      font-size: 0.85rem;
      font-style: italic;
      font-family: 'Noto Sans Mono', monospace;
      /* color: var(--quiz-muted-fg); */
      padding-left: .5rem;
      opacity: 0.75;
      letter-spacing: -0.25px;
    }

    button {
      max-width: 7rem;
      max-height: 2rem;
      align-self: flex-end;

      z-index: 90;
      padding-right: 0.5rem;
      opacity: 0.75;
      background-color: var(--quiz-bg-lighter);
      color: var(--quiz-muted-fg);
      border: 0.5px solid var(--quiz-border);
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
      cursor: pointer;
      transition:
        box-shadow 0.125s ease-in-out,
        width 0.125s ease-in-out,
        opacity 0.25s ease-in-out,
        padding 0.125s ease-in-out,
        transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        translate 0.25s ease-in-out;
      border-radius: 0.5rem 0rem 0rem 0rem;

      transform: translateX(0.4rem);
      margin-bottom: -1px;
      &:hover {
        opacity: 0.95;
        transform: translateX(0);
        /* background-color: var(--quiz-bg-solid);
        color: var(--quiz-fg); */
        box-shadow: 0 0 0px 0.5px var(--quiz-muted-fg);
      }
    }
  }

  section.explanation {
    text-align: left;
    overflow: auto;
    background-color: var(--quiz-bg-solid);
    color: var(--quiz-fg);
    border: 1px solid var(--quiz-border-solid);

    pre.astro-code, .expressive-code pre {
      overflow-x: auto;
      overflow-y: scroll;
      width: calc(550px - 3.3rem);
    }

    /* @supports (interpolate-size: allow-keywords) {
      interpolate-size: allow-keywords;
    } */
  }

  .quiz-question {
    font-size: 1.1rem;
    /* margin-bottom: 1rem; */
    margin-inline: auto;
    margin-block: 0.5rem 1.5rem;
    padding-inline: 1rem;
    width: 100%;
    overflow: auto;

    pre {
      max-width: calc(100vw - 2rem);
    }
  }
  .quiz-options {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 1rem; */
    align-items: stretch;
    margin: 0;
    font-family: "Noto Sans Mono", monospace;
    /* padding: 1rem; */
    /* border: 1px solid var(--quiz-border); */
    /* border-top: 1px solid var(--quiz-border); */

    /* border-radius: 0.125rem; */
    /* padding: 1rem; */
    /* margin: 1rem 0; */
  }

  .option {
    font-size: 1.25rem;
    color: var(--quiz-fg);
    border-bottom: 1px solid var(--quiz-muted-bg-transparent);
    cursor: pointer;
    line-height: 1.5;
    /* color: var(--secondary); */
    /* border: 1px dashed transparent; */
    width: 100%;
    margin-inline: auto;
    margin-block: auto;
    padding: 1rem;
    /* border-radius: 0.5rem;
    padding: 0.5rem; */
    label {
      width: max-content;
    }

    & * {
      cursor: pointer;
    }
    transition:
      background-color 0.125s ease-in-out,
      color 0.125s ease-in-out;
  }

  .help-box {
    width: clamp(320px, 100% - 1rem - 2px, 90vw);
    margin-inline: auto;
    padding: 1rem;
    background-color: var(--quiz-bg-solid);
    color: var(--quiz-fg);
    border: 1px solid var(--quiz-border-solid);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: left;
    overflow-x: hidden;
    transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;

    pointer-events: visiblePainted;
    cursor: pointer;

    &:hover {
      &::before {
        opacity: .85;
      }
    }
    &::before {
      content: "🅧";
      opacity: .35;
      display: inline-block;
      font-size: 1.35rem;
      margin-bottom: .5rem;
      text-align: right;
      margin-inline: .125rem;
      position: absolute;
      right: 1.5rem;
      top: 1.125rem;

    }
  }
}

.challenge .expressive-code pre>code {
  width: calc(100% - 2rem);
}

.challenge {
  --ec-codeFontSize: .85rem;
}

@screen sm {
  .challenge {
    width: 100%;
    --ec-codeFontSize: 1.035rem;

  }
}

@screen md {
  .challenge {
    font-size: 1.185rem;
    width: 100%;
  }
}

@screen lg {
  .challenge {
    font-size: 1.25rem;
    width: 100%;
  }
}

.pulse {
  animation: 0.3s cubic-bezier(0.24, 0.94, 0.53, 1.45) 0s 1 pulse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.shake {
  animation: 0.3s cubic-bezier(0.24, 0.94, 0.53, 1.45) 0s 1 shake;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(150%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
  animation-direction: normal;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
  transform-origin: right center;
}

/* .squiggle {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 2s linear infinite alternate;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
} */

.score-box {
  position: absolute;
}

.score {
  display: inline-grid;
  grid-template-columns: 1fr min(600px, 60vw) 1fr;
  grid-auto-columns: 1fr;


  justify-content: center;
  align-items: center;
  text-align: center;

  padding-block: 0.75rem;

  background-color: hsl(var(--background));
  opacity: 0.912;
  /* filter: brightness(0.80); */
  bottom: 0;
  box-shadow: inset 0 0.7px 0.3px var(--clr-muted-200);
  color: var(--primary);
  font-size: 0.89rem;

  margin: 0;

  /* padding: 0.5rem; */
  width: 100%;
  /* height: 3.75rem; */
  position: fixed;
  bottom: 0;
  left: 0;

  z-index: 10;

  text-align: center;

  transition: filter 0.3s ease-out, opacity 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.3s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;

  h2, h3, h4 {
    margin: 0.125rem;
  }

  .congrats-message {
    display: none;
  }

  &.active {
    opacity: 0.9;
    /* filter: brightness(0.8); */
  }

  &:hover {
    filter: brightness(1);
  }

  &.success {
    background-color: var(--quiz-bg-lighter);
    opacity: 1;
    filter: brightness(1);
    .congrats-message {
      display: block;
    }
  }

  &.perfect {
    background-color: hsl(var(--background));
    color: var(--neon-pink-subtle);
    filter: brightness(1.1);
    a, button {
      color: var(--neon-cyan);
      text-decoration: none;
    }
    h2, h3, h4 {
      color: var(--neon-pink-subtle);
      font-weight: 900;
    }
    .reset-quiz { visibility: visible; }
  }
}


.all-correct {
  .score-wrapper {
    display: none;
  }
  .reset-quiz { visibility: visible; }
}
.score-wrapper {
  /* display: inline-flex; */
  label {
    margin-left: 0.5rem;
  }
}

.btn.reset-quiz {
  display: inline-flex;
  /* display: none; */
  visibility: hidden; /* hide the button by default, show when quiz completed */
  font-size: 1.125rem;
  /* margin-left: -2rem; */
  margin-right: 2rem;
  justify-content: end;
  align-self: center;
  align-items: center;
  /* margin-top: 1.5rem; */


  svg {
    display: inline-block;
    margin-inline: 0.5rem;
  }

  /* hide text labels on small screens (by default) */
  & > span {
    display: none;
  }
}

.view-all-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  /* hide text labels on small screens (by default) */
  span {
    display: none;
  }
}

.btn-view-all {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  column-gap: 0.5rem;

  color: hsl(var(--muted));
  /* relative color, add opacity */

}

@screen sm {
  .score {
    font-size: 0.95rem;
  }

  .view-all-link {
    /* show text labels on bigger screens */
    span {
      display: inline-block;
    }
  }
  .btn.reset-quiz {
    & > span {
      display: inline-block;
    }
  }
  /* .score {
    font-size: 2rem;
  } */
}

