.quiz-ui {
  padding: 1rem auto;
  max-width: 98vw;
}

@screen sm {
  .quiz-ui {
    padding: 1rem 0;
    max-width: 80vw;
  }
}

:root {
  --quiz-header-bg: #121A21;
  --quiz-muted-bg: rgb(250, 250, 250, 0.5);
  --quiz-border: rgb(185, 185, 185, .9);
  --quiz-bg: rgb(217, 217, 217, 0.1);
  --quiz-fg: rgb(250, 250, 250, 1);
  --quiz-divider-color: rgb(255, 255, 255, 0.25);

  --quiz-success: rgb(130, 255, 157, 1);
  --quiz-error: rgb(255, 0, 204, 0.5);  /* rgb(255, 130, 157, 1); */

}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  text-align: left;
  margin: 2.5rem 0.5rem;
  /* @apply sm:w-screen; md:w-95 lg:w-1/4 xl:w-1/5; */

  &.untouched {
    .btn-reset {
      filter: grayscale(100%);
      opacity: 50%;
      cursor: not-allowed;
    }
  }

  .title {
    color: var(--neon-cyan);
    font-size: 1.875rem;
    margin: 0.5rem -1rem;
    text-align: left;

    svg {
      display: inline-block;
      margin-right: 0.5rem;
    }
    text-shadow: unset;
  }
  
  .icon {
    width: 2rem;
    height: 2rem;

  }

  .question {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .question .explanation {
    display: none;
  }

  .option {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 3rem 1fr;
    cursor: pointer;
    line-height: 1.5;
    color: var(--secondary);
    border: 1px dashed transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;

    & * {
      cursor: pointer;
    }
    &:hover {
      /* background-color: var(--primary-foreground); */
      color: var(--primary-forground);
      border: 1px dashed rgb(200, 200, 200, 0.5);
    }
    /* &:hover {
      color: var(--primary-forground);
      border: 1px dashed rgb(200, 200, 200, 0.5);
    } */
    &.correctly-answered {
      border: 1px dashed rgb(230, 230, 230, 0.75);
    }
  }

  &.correct {
    h2.title {
      color: var(--neon-green);
    }

    .option {

      & * {
        cursor: default;
      }
      &:hover {
        color: var(--secondary);
        border: inherit;
        border: 1px dashed transparent;
      }
      &.correctly-answered {
        border: 1px dashed rgb(230, 230, 230, 0.75);
      }
  
    }
  }

  .toolbar {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    gap: 0.5rem;
    /* align-content: center; */
    .btn {
      text-align: center;
      display: grid;
      grid-template-columns: 2.5rem 1fr;
      grid-template-rows: 1fr;
      /* max-width: 40%; */
      width: auto;
      align-items: center;
      color: var(--secondary);
      text-wrap: nowrap;
    }
  }

  .btn {
    /* background: none;
    text-decoration: inherit;

    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
    border-image-slice: 1; */
    border: 2px solid var(--neon-cyan);
    color: var(--neon-cyan);
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
  }

  .explanation {
    padding: 1rem 0.5rem;
    line-height: 1.6;
    p {
      margin: 1rem 0;
      line-height: 1.75;
    }
  }



  &.incorrect {
    .title {
      color: var(--neon-pink);
    }
    btn {
      background-color: var(--neon-pink);
      color: var(--neon-cyan);
    }
    /* color: var(--neon-pink); */
  }
}

@screen sm {
  .challenge {
    width: 100%;

    .options {
      margin-left: -2rem;
    }

    pre {
      margin: .5rem -0.2rem 0 -2rem;
    }
  }
}

@screen md {
  .challenge {
    width: 100%;
  }

  .options {
    margin-left: -3rem;
  }

pre {
    margin: .5rem -0.2rem 0 -2rem;
  }
}

@screen lg {
  .challenge {
    width: 100%;
  }

}

.pulse {
  animation: .3s cubic-bezier(0.24, 0.94, 0.53, 1.45) 0s 1 pulse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.shake {
  animation: .3s cubic-bezier(0.24, 0.94, 0.53, 1.45) 0s 1 shake;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* .squiggle {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 2s linear infinite alternate;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
} */


.score-box {
  position: absolute;
}

.score {
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: stretch;
  
  background-color: hsl(var(--background));
  opacity: 0.85;
  filter: brightness(0.65);
  bottom: 0;
  box-shadow: inset 0 .7px .3px var(--clr-muted-300);
  color: var(--primary);
  font-size: 1.5rem;

  margin: 0;
  
  /* padding: 0.5rem; */
  width: 100%;
  height: 3.75rem;
  position: fixed;
  bottom: 0;
  left: 0;

  z-index: 1000;

  text-align: center;

  transition: filter 0.2s ease-out;

  .congrats-message {
    display: none;
  }

  &.success {
    background-color: hsl(var(--success));
    opacity: 0;
    .congrats-message {
      display: block;
    }
  }

}
.score.active {
    opacity: .9;
    filter: brightness(0.8);
  }

.score:hover {
  filter: brightness(1);
}

.score-wrapper {
  display: inline-flex;
  label {
    margin-left: 0.5rem;
  }
}

.btn.reset-quiz {
  font-size: 1.125rem;
  margin-left: 3rem;
  margin-right: -5rem;
  display: inline-flex;
  align-items: center;

  svg {
    display: inline-block;
    margin-inline: 0.5rem;
  }

  &>span {
    display: none;
  }
}

@screen sm {
  .score {
    font-size: 1.75rem;
  }

  .btn.reset-quiz {
    &>span {
      display: inline-block;
    }
  }
    /* .score {
    font-size: 2rem;
  } */

}
