.score-box {
  position: absolute;
}

.score {
  background-color: hsl(var(--background));
  opacity: 0.85;
  filter: brightness(0.65);
  bottom: 0;
  box-shadow: inset 0 .7px .3px var(--clr-muted-300);
  color: var(--primary);
  font-size: 1.75rem;

  margin: 0;
  
  padding: 0.5rem;
  width: 100%;
  height: 3.6rem;
  position: fixed;
  bottom: 0;
  left: 0;

  z-index: 1000;

  text-align: center;

  transition: filter 0.2s ease-out;

}
.score.active {
    opacity: .9;
    filter: brightness(0.8);
  }

.score:hover {
  filter: brightness(1);
}
