.score-box {
  position: absolute;
}

.score {
  box-shadow: inset 0em .25rem 0.125rem #666;
  
  font-size: 1.75rem;
  margin: 0;
  color: var(--primary);
  background-color: #FFF;
  padding: 0.5rem;
  width: 100%;
  height: fit-content;
  position: sticky;
  bottom: 0;
  left: 0;

  z-index: 1000;

  text-align: center;

  margin: 0 0 1rem 0;
}

.score-wrapper {
  max-width: 720px;
  margin: 0 auto;
}
