.score-box {
  position: absolute;
}

.score {
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: stretch;
  
  background-color: hsl(var(--background));
  opacity: 0.85;
  filter: brightness(0.65);
  bottom: 0;
  box-shadow: inset 0 .7px .3px var(--clr-muted-300);
  color: var(--primary);
  font-size: 1.5rem;

  margin: 0;
  
  /* padding: 0.5rem; */
  width: 100%;
  height: 3.75rem;
  position: fixed;
  bottom: 0;
  left: 0;

  z-index: 1000;

  text-align: center;

  transition: filter 0.2s ease-out;

  .congrats-message {
    display: none;
  }

  &.success {
    background-color: hsl(var(--success));
    opacity: 0;
    .congrats-message {
      display: block;
    }
  }

}
.score.active {
    opacity: .9;
    filter: brightness(0.8);
  }

.score:hover {
  filter: brightness(1);
}

.score-wrapper {
  display: inline-flex;
  label {
    margin-left: 0.5rem;
  }
}

.btn.reset-quiz {
  font-size: 1.125rem;
  margin-left: 3rem;
  margin-right: -5rem;
  display: inline-flex;
  align-items: center;

  svg {
    display: inline-block;
    margin-inline: 0.5rem;
  }

  &>span {
    display: none;
  }
}

@screen sm {
  .score {
    font-size: 1.75rem;
  }

  .btn.reset-quiz {
    &>span {
      display: inline-block;
    }
  }
    /* .score {
    font-size: 2rem;
  } */

}