@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neon-cyan: 180 100% 50%;
    --neon-cyan-dark: 180 100% 25%;
    --neon-pink: 322 100% 72%;
    --neon-pink-subtle: 322 98% 82%;
    --neon-green: 120 100% 50%;
    --neon-purple: 276 100% 60%;
    --neon-yellow: 60 100% 50%;
    --neon-blue: 240 97% 32%;
    --neon-orange: 24 100% 50%;

    --highlight: #f9f9f9;

    --text-color: #FFFFFF;
    /* --mobile-screen-break: 580px; */
    /* --neon-cyan-gradient: linear-gradient(to top left, hsl(var(--neon-cyan)), hsl(var(--neon-cyan)));
    --neon-pink-gradient: linear-gradient(to top left, hsl(var(--neon-pink)), hsl(var(--neon-pink)));
    --neon-green-gradient: linear-gradient(to top left, hsl(var(--neon-green)), hsl(var(--neon-green)));
    --neon-purple-gradient: linear-gradient(to top left, hsl(var(--neon-purple)), hsl(var(--neon-purple)));
    --neon-yellow-gradient: linear-gradient(to top left, hsl(var(--neon-yellow)), hsl(var(--neon-yellow)));
    --neon-blue-gradient: linear-gradient(to top left, hsl(var(--neon-blue)), hsl(var(--neon-blue)));
    --neon-orange-gradient: linear-gradient(to top left, hsl(var(--neon-orange)), hsl(var(--neon-orange))); */

    --background: 208 52% 15%;
    --foreground: 210 5% 90%;
    --card: 210 50% 0%;
    --card-foreground: 200 6% 90% 0.24;
    --popover: 210 50% 5%;
    --popover-foreground: 210 5% 90%;
    --primary: var(--neon-pink);
    --primary-foreground: var(--neon-pink-subtle);
    --secondary: 210 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 172 30% 15%;
    --muted-foreground: 210 5% 60%;
    --accent: #333;
    /* --accent: 172 30% 15%; */
    --accent-foreground: 210 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 210 5% 90%;
    --border: 210 30% 18%;
    --input: 210 10% 33%;
    --ring: var(--neon-pink);
    --radius: 0.5rem;

    --link-text-color: 180 100% 50%;
    --heading-text-color: 180 100% 25%;
  }
  .dark {
    --background: 210 100% 95%;
    --foreground: 210 5% 0%;
    --card: 210 50% 90%;
    --card-foreground: 210 5% 10%;
    --popover: 210 100% 95%;
    --popover-foreground: 210 100% 0%;
    --primary: var(--neon-pink);
    --primary-foreground: var(--neon-pink-subtle);
    --secondary: 210 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 172 30% 85%;
    --muted-foreground: 210 5% 35%;
    --accent: #333;
    /* --accent: 172 30% 80%; */
    --accent-foreground: 210 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 210 5% 90%;
    --border: 210 30% 50%;
    --input: 210 30% 18%;
    --ring: var(--neon-pink);
    --radius: 0.5rem;

    --link-text-color: 180 100% 50%;
    --heading-text-color: 180 100% 25%;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  h1 {
    color: var(--neon-cyan);
    @apply mx-2 my-4 font-bold;
  }
  main {
    margin: 0 auto;
    display: grid;
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 300;
      letter-spacing: 0.002em;
      @apply mx-2 my-4 mt-6;
      color: var(--neon-cyan);
      opacity: 0.965;
    }
  }
  a {
    /* @apply text-primary; */
    color: var(--neon-cyan);
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  article {
    & ul {
      @apply list-item list-disc my-4 mx-4;
    }

    & ol {
      @apply list-outside list-decimal my-4 mx-4;
    }
  }

  blockquote {
    @apply border-l-4 border-primary-foreground pl-4;
  }

  p {
    @apply my-4;
  }

  pre {
    @apply bg-card p-4 rounded;
  }

  code {
    @apply bg-card-foreground text-primary-foreground p-1 rounded;
  }

  img {
    @apply rounded;
  }

  /* main {
    @apply mx-auto max-w-3xl p-4;
  } */
}

body {
  @apply bg-background text-foreground;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Tilt Neon", sans-serif; */
  /* font-family: "Orbitron", sans-serif; */
  font-family: "Playwrite AU NSW", cursive;

  line-height: 1.75;
  margin: 2rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--neon-cyan);
}

/* first h1 in the page*/
h1:first-of-type {
  color: #fff;
  /* // add glow/shadow effect */
  text-shadow: 
    /* White glow */
      0 0 2px #fff,
      0 0 10px var(--primary),
      0 0 21px var(--primary),
      /* Green glow */
      0 0 42px var(--primary);
      
  
  @apply text-5xl;

  line-height: 1.5;
}

.gist {
  & .gist-data {
    /* background-color: hsl(var(--background)); */
    & a {
      color: var(--neon-green);
    }
  }
  /* background-color: hsl(var(--background)); */
}

.circular-radius {
  border-radius: 100%;
  object-fit: cover;
  /* max-width: 20ch;
  max-height: 20ch; */
  margin: 2rem auto;
}
.main > * + *,
.main > * + :where(astro-island, astro-slot) > *:first-child {
  margin: 1rem 0;
}

nav.header-nav {
  display: grid;
  /* grid-template-rows: min-content auto; */

  /* repeat(auto-fit, minmax(250px, 1fr)) */
  grid-auto-rows: 1fr 1fr;
  grid-auto-flow: row dense;
  place-items: center start;
  grid-template-columns: auto 1fr;


  height: 5rem;

  .nav-box {
    justify-self: end;
  }
}

main pre {
  margin: 1rem 0;
  border: 0.25px solid #fff;
  border-radius: 0.5rem;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, 260px));
  
  /* grid-template-rows: repeat(auto-fit, minmax(440px, 1fr)); */
  grid-auto-flow: row dense;
  gap: 1rem;
  justify-content: center;

  width: 100%;

  /* max-width: 700px; */
  margin: 0 auto;
}

.article-card {
  position: relative;
  display: grid;

  width: clamp(220px, 80vw, 100%);
  margin: 0 0.75rem;
  grid-template-rows: 4.25rem 210px auto max-content;
  /* gap: 1rem; */
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: hsl(var(--secondary));
  box-shadow: 0 0 1rem 0.25rem hsla(var(--card-foreground));
  transition: box-shadow 0.25s ease-in-out;
  color: var(--muted);

  img {
    border-radius: 100%;
    margin: 0.75rem auto;
    /* object-fit: contain; */
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  &:hover {
    box-shadow: 0 0 1rem 0.25rem hsla(var(--primary-foreground));
    color: #dedede;
  }

  h2 {
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
    margin-top: 0.75rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.25;
    /* font-weight: 700; */
    /* color: var(--neon-cyan); */
  }

  .small-label {
    font-size: 0.75rem;
    /* font-weight: 700; */
    color: #ddd;
    /* margin: 0 auto 0 0; */

    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
  }

  .read-more {
    color: var(--neon-cyan);
    font-size: 1rem;
    font-weight: 700;
  }
}

div.separator {
  @apply shrink-0 bg-border h-full w-[1px];
}

body {
  padding: 0.5rem 0 1rem 0;
}

main {
  line-height: 1.5;
  margin: 0 auto;
}

main .info {
  width: 100%;
  line-height: 1;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

.hero-image {
  width: 100%;
}

.hero-image-wrapper {
  margin: 1rem auto;
  padding: 0.25rem;
  border: 0.5px solid var(--neon-pink);
  border-radius: 1rem;
  max-width: calc(2rem + 400px);
  width: max-content;
}
.hero-image img {
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  width: 260px;
  /* aspect-ratio: 1 / 1; */
}

@media (min-width: 600px) {
  .hero-image img {
    width: 400px;
  }
}

.prose {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
  color: rgb(var(--gray-dark));
}
.title {
  /* margin-bottom: 1em; */
  padding: 1em 0;
  text-align: center;
  line-height: 1;
}
.title h1 {
  margin: 0 0 0.5em 0;
}
.date {
  margin-bottom: 0.5em;
  color: rgb(var(--gray));
}
.last-updated-on {
  font-style: italic;
}

.layout-page .gist {
  color: #fff;

  .gist-data {
    background-color: hsl(var(--background));
    color: #eeeeee;
  }
}

.filter-toolbar {
  display: grid;
  place-content: center end;
  margin: 0.5rem 0 1rem 0;
}

.combobox-options {
  li {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
  }
  & > div,
  & > svg {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    &:hover {
      background-color: var(--primary-foreground);
    }
  }
}


pre.astro-code {
  .line:last-child:empty {
    display: none;
  }
  .line:first-child {
    margin-left: -0.25rem;
  }
}


/* Contact form */
.columns-all {
  grid-column: 1 / -1;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
  max-width: 600px;


  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  button {
    border: 1px solid var(--neon-pink);
    background-color: var(--highlight);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.5rem 2.5rem;

    &:hover {
      background-color: var(--highlight);
      text-decoration: underline;
    }
  }

  .success-message, .error-message, .loading-message {
    display: none;
  }

  &.loading {
    .form-item {
      display: none;
    }
    .loading-message {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      animation: spin 1s linear infinite;
      pointer-events: none;
    }
  }
  &.success {
    .form-item {
      display: none;
    }
    .success-message {
      display: block;
    }
    .error-message {
      display: none;
    }
  }

  &.failure {
    .success-message {
      display: none;
    }
    .error-message {
      display: block;
    }
  }
}
