@tailwind base;
@tailwind utilities;
/*
@tailwind components;
*/

/* From @fontsource/raleway */
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-latin-wght-normal.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-latin-wght-normal.woff2') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-latin-wght-normal.woff2') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-latin-wght-normal.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-latin-wght-normal.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

/* From @fontsource-variable/playwrite-au-nsw */
@font-face {
  font-family: 'Playwrite AU NSW';
  src: url('/fonts/playwrite-au-nsw-fallback-wght-normal.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
    --icon-external-link-svg: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWxpbmsiPjxwYXRoIGQ9Ik0xMCAxM2E1IDUgMCAwIDAgNy41NC41NGwzLTNhNSA1IDAgMCAwLTcuMDctNy4wN2wtMS43MiAxLjcxIi8+PHBhdGggZD0iTTE0IDExYTUgNSAwIDAgMC03LjU0LS41NGwtMyAzYTUgNSAwIDAgMCA3LjA3IDcuMDdsMS43MS0xLjcxIi8+PC9zdmc+');

    --party-bg: linear-gradient(
      45deg,
      #ff595e,
      #1982c4,
      #ffca3a,
      #6a4c93,
      #ff6700,
      #8ac926
    );
    
    --deep-purple-bg: linear-gradient(195deg, #ff00c3, #d123ba, #a42dab, #7b2f97, #552b80, #342465, #181a48, #050b2b);
    
    /* made at https://learnui.design/tools/gradient-generator.html */
    /*
    --rainbow-subtle: linear-gradient(90deg, #f5e7f8, #cfd9f8, #9cd2e3, #83c6ae, #9ead69, #bf8641, #c36064, #9e4f9b);
  
    --unicorn-bright-bg: conic-gradient(from 45deg at 70% -10%, #fff700, #f4f71a, #a4f663, #00ccd1, #724aa8, #6c1035, #5c0107, #590000);
    
    --sky-blue-bg: linear-gradient(300deg, #dedede, #dddddd, #d5d8d5, #bec9c2, #8fada5, #4a8290, #266389, #205185, #224a84, #224984);
  
    
    */
    /* --red-hot-bg: radial-gradient(circle at 90% 80%, #f7ff0a, #f7ff0a, #f7ff0a, #f7ff0a, #ffac00, #ff7b00, #ff5100, #ff340d, #ff2511, #ff2212); */
    
    /* --springtime-bg: linear-gradient(315deg, #dde409, #a6dd30, #71d34c, #36c664, #00b777, #00a786, #00968e, #00848e, #007288, #0a607b); */
    
    --brainblow-bg: linear-gradient(315deg, #d0fe1e, #65f653, #00d6b1, #008ff2, #4a50c1, #712891, #77147e, #77107b);
  
    /* --neon-bg-gg: linear-gradient(190deg, #ff370fef 70%, #fc0 100%); */
    /* --neon-gg-bg: var(--brainblow-bg); */
    --sublime-light-bg: linear-gradient(to right, #fc5c7d, #6a82fb);
    /* --sunrise-bg: linear-gradient(65deg, #f7ff0a 10%, #28c500 20% 80%, #f7ff0a 90%); */

    --neon-gg-bg: var(--sublime-light-bg);

    /* --deep-blue-bg: linear-gradient(15deg, #142850, #14365f, #13476f, #125d80, #107792, #0d96a5, #09b8b4, #04ccb1); */
  
    --after-party-bg: linear-gradient(
      45deg,
      #ff595e99,
      #1982c499,
      #ffca3a99,
      #6a4c9399,
      #ff670099,
      #8ac92699
    );
  
    --cold-bg: linear-gradient(
      15deg,
      #1982c4FF,
      /* #ffca3aFF, */
      #6a4c93FF
      /* #8ac926FF */
    );

    

    --neon-pink-subtle: hsl(322, 100%, 60%, 1);
    --neon-cyan: 180 100% 50%;
    --neon-cyan-dark: 180 100% 25%;
    --neon-pink: 322 100% 72%;
    --neon-green: 120 100% 50%;
    --neon-purple: 276 100% 60%;
    --neon-yellow: 60 100% 50%;
    --neon-blue: 240 97% 32%;
    --neon-orange: 24 100% 50%;
    --neon-red: 0 100% 50%;
    --neon-indigo: 240 100% 50%;
    
    

    --highlight: #f9f9f9;
    --highlight-secondary: #f9f9f999
    
    --primary-foreground: var(--neon-pink);

    --text-color: #FFFFFF;
    /* --mobile-screen-break: 580px; */
    /* --neon-cyan-gradient: linear-gradient(to top left, hsl(var(--neon-cyan)), hsl(var(--neon-cyan)));
    --neon-pink-gradient: linear-gradient(to top left, hsl(var(--neon-pink)), hsl(var(--neon-pink)));
    --neon-green-gradient: linear-gradient(to top left, hsl(var(--neon-green)), hsl(var(--neon-green)));
    --neon-purple-gradient: linear-gradient(to top left, hsl(var(--neon-purple)), hsl(var(--neon-purple)));
    --neon-yellow-gradient: linear-gradient(to top left, hsl(var(--neon-yellow)), hsl(var(--neon-yellow)));
    --neon-blue-gradient: linear-gradient(to top left, hsl(var(--neon-blue)), hsl(var(--neon-blue)));
    --neon-orange-gradient: linear-gradient(to top left, hsl(var(--neon-orange)), hsl(var(--neon-orange))); */
    --background: 210 30% 10%;
    --bg-dark: 208 52% 15%;
    --foreground: 210 5% 90%;
    --card: 210 50% 0%;
    --card-foreground: 200 6% 90% 0.24;
    --popover: 210 50% 5%;
    --popover-foreground: 210 5% 90%;
    --primary: var(--neon-pink);
    --primary-foreground: var(--neon-pink-subtle);
    --secondary: 0 0% 87% 1;
    --secondary-foreground: 0 0% 24% 1;
    /* --muted: 172 30% 15%; */
    --muted: 0 0% 85%;
    --muted-foreground: 210 5% 60%;
    --accent: #333;
    /* --accent: 172 30% 15%; */
    --accent-foreground: 210 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 210 5% 90%;
    --border: 210 30% 18%;
    --input: 210 10% 33%;
    --ring: var(--neon-pink);
    --radius: 0.5rem;

    --link-text-color: 180 100% 50%;
    --heading-text-color: 180 100% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  h1 {
    color: var(--neon-cyan);
    @apply mx-2 my-4 font-bold;
  }
  main {
    /* margin: 0 auto;
    display: grid; */
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 300;
      letter-spacing: 0.002em;
      margin-block: 1rem;
      color: var(--neon-cyan);
      opacity: 1;
    }
  }
  a {
    /* @apply text-primary; */
    color: var(--neon-cyan);
  }
  /* Make links more accessible */
  article, .article {
    a[href] { text-decoration: underline; }

  }

  li::marker {
    color: var(--neon-pink);
    font-size: 1.25rem;
    content: "‣ ";
  }

  nav, .ViewportPosition {
    li::marker {
      color: inherit;
      font-size: inherit;
      content: inherit
    }
  }
  h1 {
    /* @apply text-3xl; */
    font-size: 1.45rem;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  article {
    & ul {
      @apply list-item list-disc my-4 mx-4;
    }

    & ol {
      @apply list-outside list-decimal my-4 mx-4;
    }
  }

  blockquote {
    @apply border-l-4 border-primary-foreground pl-4;
  }

  p {
    @apply my-4;
  }

  pre {
    @apply bg-card p-4 rounded;
  }
  code {
    @apply bg-card-foreground text-primary-foreground p-1 rounded text-nowrap;
    
  }

  .article, article {
    p code, li code, button code, a code, em.highlight {
      font-style: normal;
      background-color: #152028;
      padding: .25em .25em;
      border-radius: .4rem;
      border-color: #666;
      box-shadow: 0 0 .8px #fff;
      border-width: .85px;
    }
  }

  img {
    @apply rounded;
  }

  /* main {
    @apply mx-auto max-w-3xl p-4;
  } */
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.7;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Tilt Neon", sans-serif; */
  /* font-family: "Orbitron", sans-serif; */
  font-family: "Playwrite AU NSW", cursive;

  line-height: 1.75;
  margin-block: 1.5rem;

  scroll-margin-top: 5rem;
  text-wrap: balance;
}

h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.4px;
  color: var(--neon-cyan);
}

/* first h1 in the page*/
h1:first-of-type {
  font-size: 1.95rem;
  line-height: 1.75;
  margin-block: 2rem;
  color: #fff;
  /* // add glow/shadow effect */
  text-shadow: 
    /* White glow */
      0 0 2px #fff,
      0 0 10px var(--primary),
      0 0 21px var(--primary),
      /* Green glow */
      0 0 42px var(--primary);
  
    /* animation-name: flicker;
    animation-timeline: view(50px);
    animation-duration: 1ms; */ /* Firefox requires this to apply the animation */
    /* animation-direction: alternate; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: steps(1); */
    /* animation-fill-mode: forwards;
    animation-play-state: running;
     */
}

.gist {
  & .gist-data {
    /* background-color: hsl(var(--background)); */
    & a {
      color: var(--neon-green);
    }
  }
  /* background-color: hsl(var(--background)); */
}

.circular-radius {
  border-radius: 100%;
  object-fit: cover;
  /* max-width: 20ch;
  max-height: 20ch; */
  margin: 2rem auto;
}
.main > * + *,
.main > * + :where(astro-island, astro-slot) > *:first-child {
  margin: 1rem 0;
}

.calendar-icon::before {
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" class="app-calendar-icon icon" style="stroke-width:.5px" viewBox="0 0 24 24"><path d="M8 2v4"></path><path d="M16 2v4"></path><rect width="18" height="18" x="3" y="4" rx="2"></rect><path d="M3 10h18"></path></svg>');
}

.header-nav {
  display: grid;
  /* grid-template-rows: min-content auto; */
  /* repeat(auto-fit, minmax(250px, 1fr)) */
  
  /* repeat(auto-fit, minmax(3rem, 1fr)) */
  /* grid-auto-rows: 1fr 1fr; */
  grid-auto-rows: 1fr;
  grid-auto-flow: row dense;
  place-items: center start;
  grid-template-columns: auto 1fr;
  /* margin-inline: 1.25rem; */
  height: 7.26rem;

  column-gap: 0rem;

  a {
    display: grid;
    grid-template-columns: 3.5rem 1fr;
    padding-left: 0;
    font-size: 80%;
  }

  img {
    height: 1.75em;
    width: 1.75em;
    min-height: .85em;
    min-width: .85em;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin: 1.25rem 0rem .5rem 0;
  }

  @screen sm {
    a { padding-left: 0; }
    column-gap: 0rem;
  }

  @screen md {
    column-gap: 1rem;
  }

  @screen lg {
    column-gap: 2rem;
  }

  /* padding-inline: 3rem; */
  .nav-box {
    justify-self: flex-end;
    align-self: self-start;

    @screen sm {
      margin-top: 1.5rem;
    }
  }
}

main pre {
  margin: 1rem 0;
  border: 0.25px solid #fff;
  border-radius: 0.5rem;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, 250px));
  
  /* grid-template-rows: repeat(auto-fit, minmax(440px, 1fr)); */
  grid-auto-flow: row dense;
  gap: 1.25rem;
  justify-content: space-evenly;

  
  /* max-width: 700px; */
  margin: 1.5rem auto;
  font-weight: 300;
  width: calc(100% - 1rem);

  @screen sm {
    width: calc(100% - 2rem);
    margin: .5rem auto;
    justify-content: space-evenly;
  }

  @screen md {
    width: calc(100% - 4rem);
    margin: 0 auto;

    justify-content: space-around;
  }


}

/*
    background-color: hsl(var(--secondary));
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem .25rem hsl(var(--card-foreground));
    color: var(--clr-muted-300);
    display: grid;
    grid-template-rows: auto 210px auto max-content;
    line-height: 1.5;
    padding: 1rem;
    position: relative;
    transition: box-shadow .125s ease-in-out, color .125s ease-in-out;
    width: clamp(220px, 80vw, 100%);
*/
.article-card {
  background-color: hsl(var(--bg-dark));
  position: relative;
  display: grid;
  line-height: 1.5;

  width: clamp(220px, 80vw, 100%);
  /* margin-inline: 0.75rem; */
  grid-template-rows: auto 210px auto max-content;
  /* gap: 1rem; */
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem 0.25rem hsl(var(--card-foreground));
  transition: box-shadow 0.175s ease-in-out, color 0.175s ease-in-out;
  color: var(--clr-muted-100);


  &.draft {
    border: 2.5px dashed var(--clr-muted-300);
    filter: grayscale(1);
    transition: border 0.3s ease-in, filter 0.3s ease-in;
  }
  &.draft:hover {
    border: 2.5px dashed var(--clr-muted-600);
    filter: grayscale(.25);
  }
  
  img {
    border-radius: 100%;
    margin: 0.75rem auto;
    /* object-fit: contain; */
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  .small-label {
    
    font-size: var(--fs-200);
    color: var(--clr-muted-100);
    position: absolute;
    right: 0.75rem;
    top: 0.65rem;
    transition: color 0.125s ease-in-out, scale 0.125s ease-in-out;
  }

  &:hover {
    box-shadow: 0 0 1rem 0.25rem rgb(254 164 221);
    color: var(--clr-muted-100);
    scale: 1.02;
    .small-label {
    color: var(--clr-muted-100);
    /* color: unset; */
    }
  }

  p {
    line-height: 1.5;
    font-weight: 100;
    align-self: center;
    padding-block: 1rem;
  }
  h2, h4 {
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
    margin-top: 1.5rem 0 0 0;
    line-height: 1.25;
    /* color: var(--neon-cyan); */
  }

}

div.separator {
  @apply shrink-0 bg-border h-full w-[1px];
}

main .info {
  width: 100%;
  line-height: 1;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

.hero-image {
  width: 100%;
}

.hero-image-wrapper {
  margin: 1rem auto;
  padding: 0.25rem;
  border: 0.5px solid var(--neon-pink);
  border-radius: 1rem;
  max-width: calc(2rem + 400px);
  width: max-content;
}
.hero-image img {
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  width: 260px;
  margin-block: 0 !important;
  /* aspect-ratio: 1 / 1; */
}

@media (min-width: 600px) {
  .hero-image img {
    width: 100%;
    margin-block: 0 !important;
  }
}

.prose {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
  color: rgb(var(--gray-dark));
}

.title {
  /* margin-bottom: 1em; */
  font-size: 1.4rem;
  margin-top: 0;

  @screen sm {
    font-size: 1.8rem;
    margin-top: -0.5rem;
  }

  @screen lg {
    font-size: 2rem;
    margin-top: -1.25rem;
  }

  height: 135px;
  width: 9rem;
  margin-left: -1em;
  max-height: 135px;
  overflow: visible;

  padding: 1em;
  text-align: center;
  line-height: 1.75;
  text-shadow: 0 0 2px #fff,
    0 0 5px #fff,
    0 0 10px var(--neon-cyan),
    0 0 21px var(--neon-cyan),
    0 0 32px var(--neon-cyan),
    0 0 42px var(--neon-cyan);
  color: #FFF;
}

.title h1 {
  margin: 0 0 0.5em 0;
}
.date {
  margin-bottom: 0.5em;
  color: rgb(var(--gray));
}
.last-updated-on {
  font-style: italic;
}

.layout-page .gist {
  color: #fff;

  .gist-data {
    background-color: hsl(var(--background));
    color: #eeeeee;
  }
}

.filter-toolbar {
  display: grid;
  place-content: center end;
  margin: 0rem 3rem 1.5rem 3rem;
  height: 4rem;

  @screen sm {
    /* margin: 0rem 2rem 1.5rem 2rem; */
    margin: 0rem 3rem 1.5rem 3rem;
    height: 2.75rem;
  }
}

.combobox-options {
  li {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
  }
  & > div,
  & > svg {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    &:hover {
      background-color: var(--primary-foreground);
    }
  }
}


pre.astro-code {
  .line:last-child:empty,
  :has(span:empty) .line:last-child {
    display: none;
  }
  .line:first-child {
    margin-left: -0.25rem;
  }

  padding: 1em;

  code {
    font-size: .8rem;
  
    @screen sm {
      font-size: 1.0rem;
    }
  
    @screen md {
      font-size: 1.125rem;
    }
  }
}

.quiz-ui .expressive-code .copy {
  display: none;
}

.quiz-ui pre.astro-code {
  width: calc(100% + 1.25rem);
  margin-left: -0.75rem;
  border-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding: .75em;

  line-height: 1.35;
}
/* Contact form */
.columns-all {
  grid-column: 1 / -1;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
  max-width: 600px;


  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  button {
    border: 1px solid var(--neon-pink);
    color: var(--neon-pink);
    background-color: var(--highlight);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.5rem 2.5rem;

    &:hover {
      background-color: var(--highlight);
      text-decoration: underline;
    }
  }

  .success-message, .error-message, .loading-message {
    display: none;
  }

  &.loading {
    .form-item {
      display: none;
    }
    .loading-message {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      animation: spin 1s linear infinite;
      pointer-events: none;
    }
  }
  &.success {
    .form-item {
      display: none;
    }
    .success-message {
      display: block;
    }
    .error-message {
      display: none;
    }
  }

  &.failure {
    .success-message {
      display: none;
    }
    .error-message {
      display: block;
    }
  }
}

.searchBar {
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #eeeeee;
  --pagefind-ui-background: #152028;
  --pagefind-ui-border: #152028;
  --pagefind-ui-tag: #152028;
  --pagefind-ui-border-radius: 4rem;

  margin-inline: auto;
  margin-block: .5rem 2rem;
  padding: 0 1rem;
  /* position: absolute; */
  z-index: 10;
  /* background-color: var(--pagefind-ui-background); */
  padding-right: .5rem;

  max-width: 760px;
  max-height: 2.5rem;
  transition: max-height 0.25s ease-in-out, margin 0.25s ease-in-out, padding 0.25s ease-in-out;


  form {
    background: var(--pagefind-ui-background);
    border-radius: 2rem;
    z-index: 10;
    padding: 0.5rem 1rem;
  }
  .pagefind-ui {
    width: 50%;
  }
  .pagefind-ui__search-input :is(:focus, :hover) {
    box-shadow: 0 0 1rem 0.25rem hsl(var(--primary-foreground));
  }
}

.collapsed {
  overflow: hidden;
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.comments-wrapper {
  margin-block: 1rem;
  min-height: 270px;
}

.default-links a[href] {
  text-decoration: none;
}

/* TABLE GLOBAL STYLES */
table {
  margin-block: 2rem;
  line-height: 2;

  thead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  td {
    padding: 0.5rem;
  }
}

@keyframes fade-to-grayscale {
  to {
    filter: grayscale(100%) brightness(0.5);
  }
}

@keyframes fancy-in {
  /* card entry */
  0% {
    transform: translateY(25vw);
  }
  /* card on stage */
  20%, 80% {
    opacity: 1;
    transform: none;
  }
  /* card exit */
  100% {
    transform: translateY(90%) scale(.98);
    opacity: 0;
  }
}


figure {
  transition: border .5s ease-in-out 0s;
  padding: .25rem;
  border: .25px solid #dedede;
  border-radius: .125rem;
  margin-block: 2.25rem;
  margin-left: -1.25rem;
  margin-right: -2rem;
  
  @screen sm {
    margin: 2.25rem auto;
  }

  &:hover {
    border: .25px solid var(--neon-cyan);
    /* box-shadow: 0 0 .2rem 0.25rem hsl(var(--primary-foreground)); */
  }

  figcaption {
    font-size: .95rem;
    font-weight: 200;
    color: var(--secondary);
    background-color: #3d3d3d;
    text-align: left;
    padding: .25rem;
  }

  p:last-child:empty {
    display: none;
  }
}

header .title {
  font-family: "Playwrite AU NSW", cursive;

}

h2, h3, h4, h5, h6 {
  font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  font-weight: 300;
}


.timeline {

  h2, h3, h4, h5, h6 {
    font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-weight: 300;
    margin: 0;
    color: var(--neon-pink-subtle)
  }


  h3 {
    margin-left: -1rem;
    font-size: 175%;
  }
  h5 {
    color: var(--clr-muted-200);
    font-size: 80%;
  }

  figure:hover {
    border: .25px solid rgba(220, 220, 220, .75);
  }
}

.books-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;

  .book {
    display: grid;
    grid-template-columns: 1fr 60%;
    grid-template-rows: auto 1fr;

    h3 {
      font-size: 105%;
    }
    h4 {
      font-size: 0.85rem;
    }
    .review::before {
      content: "❝";
      font-size: 2.25rem;
      margin-right: 0.25rem;
    }

    .review::after {
      content: "❞";
      font-size: 2.25rem;
      margin-left: 0.25rem;
    }

    .review {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      padding: 1rem;
      border-radius: 1rem;
      background-color: hsl(var(--secondary));
      box-shadow: 0 0 1rem 0.25rem hsl(var(--card-foreground));
      transition: box-shadow 0.125s ease-in-out, color 0.125s ease-in-out;
      color: var(--link-text-color);
      line-height: 1.5;
      font-weight: 300;
    }
  }
}

/* Select all h3's adjacent to .custom-gist */

h3 + .custom-gist,
.custom-gist + h3 {
  font-size: 1.7rem;
}

.custom-gist {
  font-size: 1.25rem;

  /* h3 {
    font-size: 1.65rem !important;
  } */

  margin-block: 1rem 2.5rem;
  div :has(> .Link--inTextBlock) {
    display: none;
  }

  .markdown-heading {
    .heading-element {
      display: inline-block;
      margin-inline: 0.5rem;
    }
    a.anchor {
      /* display: inline-block; */
      display: none; /* currently broken */
      color: var(--text-color);
      fill: var(--text-color);

    }
  }
  
  h3 {
    font-size: 175%;
  }

  ul[dir] {
    list-style-type: none !important;
    /* padding-inline: 0; */
  }
}


.edit-on-github {
  color: var(--muted);
  & :hover {
    text-decoration: underline;
  }
}

.scroll-x {
  max-width: calc(100vw - 2rem) !important;
  margin-inline: auto;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #EEE2;  
}



/*
Overriding the style when generating screenshots
*/

/* class="screenshot-mode mobile-shot" */
.screenshot-mode {
  h1, h2 {
    margin-block: .75rem;
  }
  h1:first-of-type {
    margin-top: 0;
  }
  h3, h4 {
    margin-block: .25rem;
  }
  .header-nav {
    place-self: end;
    height: unset;
    img {
      /* class="screenshot-mode" */
      margin: .5rem 1rem 0 0;
      /* max-width: .85rem !important;
      max-height: .85rem !important;; */
      @screen sm {
        margin: 1rem;
      }

    }

    a:link, a:visited {
      color: var(--clr-muted-300) !important;
    }

    .title {
      font-size: 94%;
      height: unset;
      font-family: Raleway, sans-serif;
      color: var(--clr-muted-300);
      font-weight: 700;
      padding: .5rem;
      text-shadow: none;
      width: 125px;
      text-decoration: underline;

      @screen sm {
        font-size: 1.75rem;
        margin: .125rem 0rem 0rem 0rem;
      }
    }
  }

  .quiz-ui {
    astro-island, astro-slot {
      margin: 150vh auto;
    }
  }
  /* :target { */
  .challenge {
    scale: 1.35;
    z-index: 69420;
    margin-block: 180rem !important;
    /* min-width: 99vw !important; */
  }


  .screenshot-hidden {
    display: none !important;
  }

  .quiz-hint-toggle {
    grid-template-columns: 1fr 7rem !important;
    .watermark {
      display: grid !important;
    }
  }
  .score {
    display: none !important;
  }
  body > header {
    display: none !important;
  }
  astro-dev-toolbar {
    display: none !important;
  }
}

.mobile-shot {
  main > h2 {
    margin-block: .75rem 1.5rem;
  }
  .content-grid > * {
    grid-column: 1 / -1;
  }
  .challenge {
    scale: 1;
    z-index: 69420;
    margin-block: 2rem auto !important;
  }

  .top-header {
    padding: 0 0.5rem;
  }

}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 1.25em;
  padding-block: 1.5em;
  margin-block: 1.5em;
}

/* see: https://vtbag.dev/tips/pointer/ */
:active-view-transition {
  cursor: pointer;
}

.hint-tooltip {
  /* move over right 150px */
  margin-right: min(-240px, 100vw - 300px) !important;
  margin-top: -1.5rem !important;
}
