/* credit: [Kevin Powell](https://codepen.io/kevinpowell/pen/ExrZrrw) */
.content-grid {
  --gutter-size: 2rem;
  --gutter-main: minmax(300px, 100% - (2 * var(--gutter-size)));
  --padding-inline: 1rem;
  --content-max-width: min(1240px, 90vw);
  --breakout-max-width: min(1400px, 90vw);
  /* --content-max-width: 1600px;
  --breakout-max-width: 1800px; */
  --inset-size: calc(100% - (var(--content-max-width) * 75%));
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start]
      minmax(var(--padding-inline), 1fr)
        [breakout-start]
          minmax(0, var(--breakout-size))
            [content-start]
              minmax(0, min(100% - (var(--padding-inline) * 2), var(--content-max-width)))
            [content-end]
          minmax(0, var(--breakout-size))
        [breakout-end]
      minmax(var(--padding-inline), 1fr)
    [full-width-end];
  
  transition: grid-template-columns 0.3s ease-out, max-width 0.3s ease-out, padding 0.3s ease-out, margin 0.3s ease-out, width 0.3s ease-out;
}

.content-grid.article, article.content-grid {
  --content-max-width: min(800px, 90vw);
  --breakout-max-width: min(1000px, 90vw);
}

.content-grid > img,
.content-grid > p :has(> img)  {
  margin-inline: auto;
  margin-block: 2rem;
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
  border-left: .5rem solid var(--neon-pink);
  padding-left: 1rem;
  padding-block: 1rem;
  font-size: 120%;
}

.content-grid > .inset {
  border-left: .5rem solid var(--neon-pink);
  margin-inline: 3rem;
  padding-inline: 1.5rem;
  font-size: 120%;
}

.skinny-xl {
  --gutter-size: 20vw;
}
.content-grid > .skinny {
  grid-column: content;
  width: 100%;
  margin-block: 1.5rem;
  /* display: grid;
  justify-self: center;

  grid-template-columns: 
    [gutter-start]
      minmax(0, 2rem)
        [inner-start]
          1fr
        [inner-end]
      minmax(0, 2rem)
    [gutter-end];

    & > * {
      grid-column: inner;
    } */
}

/* a narrow "inlay"/"inset" section */
.content-grid > .narrow {
  grid-column: content;
  display: grid;
  justify-self: center;
  padding-inline: 2.5rem;
  margin-inline: 10% 30%;
  border-left: 1px solid var(--clr-muted-300);
}

.content-grid > .full-width,
.content-grid > :where(astro-island, astro-slot) > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

.full-width > :where(astro-island, astro-slot) {
  display: unset !important;
}

img.full-width {
  width: 100%;
  max-height: min(35vh, 260px);
  object-fit: cover;
  border-radius: 0;
  /* image-rendering: crisp-edges; */
  /* filter: blur(1px); */
  margin-block: 2rem;
  border-top: 2px solid var(--clr-muted-100);
  border-bottom: 2px solid var(--clr-muted-100);

  @media (prefers-reduced-motion: no-preference) {
    /* @supports (animation-timeline: scroll()) {
      animation: fade-to-grayscale linear forwards;;
      animation-timeline: view(30px);
      animation-range: contain;
    } */
  }
  
}

p :has(img) {
  margin-block: 1.5rem;
}
p img {
  margin-inline: auto;
  margin-block: 1.5rem;
}

:root {
  --color-scheme: dark;

  --font-family: 'Raleway', Tahoma, Helvetica, sans-serif;

  --flow-spacing: 1rem;

  --fs-200: clamp(0.75rem, calc(0.75rem + 0.08vw), 0.8rem);
  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-300: hsl(219, 76%, 55%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-200: hsl(358, 85%, 80%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);
  --clr-muted-100: hsl(0, 0%, 100%);
  --clr-muted-200: hsl(0, 0%, 90%);
  --clr-muted-300: hsl(0, 0%, 80%);
  --clr-muted-400: hsl(0, 0%, 65%);
  --clr-muted-500: hsl(0, 0%, 50%);
  --clr-muted-600: hsl(0, 0%, 35%);
  --clr-muted-700: hsl(0, 0%, 20%);
  --clr-muted-800: hsl(0, 0%, 10%);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: var(--color-scheme);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.bg-primary {
  background: var(--clr-primary-500);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.call-to-action {
  padding: 1rem;
  background: hsl(0 0% 100% / 0.15);
}

.wrapper {
  width: calc(100% - 3rem);
  max-width: 900px;
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-spacing, 1em);
}

.section-padding {
  padding-block: 2.5rem;
}

.primary-header__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .logo {
  max-width: 250px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: max(5vw, 1rem);
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--clr-accent-500);
  text-decoration: underline;
} */

.even-columns {
  display: flex;
  gap: 1rem;
}

.content-grid {
  img, p {
    margin-block: 1rem;
  }
}


/* Style GIST */

main .gist {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;

  @screen sm {
    max-width: min(100%, 550px);
  }

  @screen md {
    max-width: min(100%, 680px);
  }

  @screen lg {
    max-width: min(100%, 800px);
  }
}
