
ul.tag-list {
  list-style-type: none;
  list-style: none;

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

ul.tag-list li {
  display: inline-flex;
}

ul.tag-page {
  list-style-type: none;
  list-style: none;

  width: 98%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
ul.tag-page li {
  display: inline-flex;
  min-width: 10%;
  max-width: 50%;
  margin: 0.8em 0.125em;
}
div.challenge {
  display: none;
}
