
ul.tag-list {
  list-style-type: none;
  list-style: none;

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

ul.tag-list li {
  display: inline-flex;
}

ul.tag-page {
  list-style-type: none;
  list-style: none;

  width: 98%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
ul.tag-page li {
  display: inline-flex;
  min-width: 10%;
  max-width: 50%;
  margin: 0.8em 0.125em;
}

div.challenge {
  display: none;
}

/* .active-nav-link::before {

} */
.active-nav-link {
  color: #709425;
}

article table {
  width: 105%;
}


.text-left {   text-align: left; }
.text-center { text-align: center; }
.text-right {  text-align: right; }

.alert-warning {
  position: relative;
  top: 30%;
  min-height: 250px;
  border: 4px dashed #333333;
  margin: 0 auto;
  width: 90%;
  font-size: 1.25em;
  padding: 0.5em;
}

.alert-warning .details {
  margin: 1.75em 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7em;

}

.alert-warning h2 {
  margin: 0.82em 0;
  font-size: 1.5em;
  font-weight: 900;
}
