.line-change-indicator {
  grid-template-columns: auto auto;
  font-size: .975rem;
  height: 1rem;

  display: grid
;
  justify-content: flex-end;
  /* border-radius: 50%; */
  /* margin-inline-end: 0.5rem; */
  
}
.gh-activity {
  position: relative;

  /* display: grid; */
  /* grid-template-columns: auto auto; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  margin-inline: 0.25rem;
  font-size: .98765rem;
  .pr-diff-stats {
    text-align: right;
  }

  &.added {
    color: #28a745;
  }
  &.removed {
    color: #f85149;
  }
  /* .lines {
    display: inline-block;
    padding-inline: .5rem;
  } */
  /* margin-inline-end: 0.5rem; */


  &.added::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 0; /*1.75rem;*/
    bottom: .5rem;;
    
    background-color: #28a745;
    color: #28a745;
  }
  &.removed::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 0; /*1.75rem;*/
    bottom: .5rem;;
    
    color: #f85149;
    background-color: #f85149;
  }
  &:has(.activity-line:empty) {
    display: none;
  }

  .activity-line {
    /* position: absolute; */
    /* width : 4px; */
    height: 1rem;
    border-radius: 4px;
    display: inline-block;
    /* margin: 0.5rem; */
    
  }
  

/*   

  padding-inline: .5rem;
  margin-block: .5rem;
  position: relative;
  column-gap: .5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: .9rem;
  font-weight: 900;
  color: #666;

  &::before {
    content: attr(data-added);
    position: absolute;
    color: var(--activity-bg-color, #28a745);

    width: 100%;
    height: 100%;

    
  }
  &::after {
    position: absolute;
    width: 1rem;
    height: 1rem;
    content: '';
    color: var(--activity-bg-color, #28a745);
    background-color: var(--activity-bg-color, #28a745);
    border-radius: .25rem;
    display: inline-block;
    margin-inline: 0.5rem;
    margin-inline: .5rem;
    width: 20px;
    height: 100%;
  }

  &.added {
    color: #28a745;
  }
  &.removed {
    color: #f85149;
  }
  &::after.added {
    right: -1.25rem;
  }
  &::after.removed {
    left: -1.25rem;
  }
  .removed {
    --activity-bg-color: #f85149;
  } */
}

