---
import { ossContributions } from "../../shared/ossData.ts";
import { RepoCard } from "./RepoCard.tsx";
import { GITHUB_HANDLE } from "../../consts.ts";
import { makeLogs } from "../LogHelper.ts";
import "./GitContribution.css";
import { GithubSearch } from "../../shared/githubSearch.ts";

const log = makeLogs("ossContributions");

log("ossContributions", ossContributions.length);
---

<h3>My Open Source Contributions ({ossContributions.length})</h3>
<section class="contrib-grid">
  {
    ossContributions.map((contrib) => {
      const stats = new GithubSearch(contrib.repo);
      stats.pullRequests(contrib.repo, `author:${GITHUB_HANDLE}`);
      
      return (
        <RepoCard
          client:idle
          contribution={contrib}
          author={GITHUB_HANDLE}
        />
      )
    })
  };
</section>
