---
import Page from "../layouts/Page.astro";
import RepoList from "../components/GitRepoCard/RepoList.astro";
---

<Page
  frontmatter={{
    title: "📙 Dan's Open Source Journal",
    subTitle: "At least the ones I can remember",
    // cover: "../../previews/open-source-journal/desktop-social.webp",
  }}
  socialImage={"../../previews/open-source-journal/desktop-social.webp"}
>
  <h1>My Contribution Log</h1>

  <blockquote class="inset">
    I wish I could say I contribute to open source out of some noble, altruistic
    spirit—but really, it's just FDD: <b>Frustration-Driven Development.</b>
  </blockquote>
  <p>
    The urge to fix `upstream` becomes harder to ignore as I realize I've seen the issue before... Yet cannot recall any solution.
    
    It feels worse still when Google taunts you with purple visited links! <em>Who's been using my machine?!?</em>
  </p>
  <p>
    Without further ado, here's my digital journal of select open source contributions.
  </p>

  <RepoList className="h-resume" />
</Page>
