---
import Page from "../layouts/Page.astro";
import RepoList from "../components/GitRepoCard/RepoList.astro";

---

<Page
  frontmatter={{
    title: "My Open Source Journal 📙",
    subTitle: "At least the ones I can remember",
  }}
>
  <h1>My Contribution Log</h1>
  <p class="inset">
    I have a problem. When I find a <b>pain point</b> in software, I need to fix it.
  </p>
  <p>
    This is especially true if I'm a long time user, huge fan, or-let's be honest-even a very modest fan of the software.* If there's one thing that's certain to send me into a 3 hour late night masterclass on procrastination, it's the dreaded <b>repeat offender.</b> You know when you Google a strange new error message... only to find the horror of purple _visited_ links everywhere!?! "*Who's been using my computer???*"
    
    When I run into an issue **multiple** times, I can't help but think of all the suffering out there! Who else is going to notice that Google highly ranks a long abandoned repo? One with commands to install old `log4j` binaries?
  </p>
  <p>
    This is a collection of my  open source contributions (that I could
    remember). I have been contributing to open source projects for about 15
    years.
  </p>

  <p>Check out my Contribution List below.</p>

  <RepoList />
</Page>
