---
import Page from "../layouts/Page.astro";
import RepoList from "../components/GitRepoCard/RepoList.astro";
---

<Page
  frontmatter={{
    title: "📙 Dan's Open Source Journal",
    subTitle: "At least the ones I can remember",
    // cover: "../../previews/open-source-journal/desktop-social.webp",
  }}
  socialImage={"../../previews/open-source-journal/desktop-social.webp"}
>
  <h1>My Contribution Log</h1>

  <blockquote class="inset">
    I'd like to believe I contribute to open source out of some noble, altruistic
    spirit. Chances are, I simply want to fix the issue I'm facing. 😇
  </blockquote>

  <RepoList className="h-resume" />
</Page>
