---
import Page from "../layouts/Page.astro";
import RepoList from "../components/GitRepoCard/RepoList.astro";

---

<Page
  frontmatter={{
    title: "My Open Source Journal 📙",
    subTitle: "At least the ones I can remember",
  }}
>

<h1>My Contribution Log</h1>
<blockquote class="inset">
  I have a persistent habit: whenever I encounter a <b>pain point</b> in software, I feel compelled to fix it.
</blockquote>
<p>
  This urge is especially strong if I’ve been using the software for a long time, grown fond of it, or even if I’m just a casual user. If there’s one thing that can launch me into a late-night, three-hour detour of bug-fixing, it’s the repeat offender. You know the moment—searching online for a strange new error message, only to discover a sea of purple visited links. <em>Who's been on my machine?</em>
</p>
<p>
  When I run into the same issue <b>multiple times</b>, I can’t help imagining the countless others struggling with it. Who else will notice that Google is surfacing a long-abandoned repository? One filled with outdated commands to install old <code>log4j</code> binaries?
</p>
<p>
  Below is a collection the contributions that I could recall. I’ve been contributing to open source for over 15 years now!
</p>

  <RepoList />
</Page>
