---
import { RssIcon } from "lucide-react";
import SubscribeForm from "./SubscribeForm.astro";

const today = new Date();
---

<footer class="content-grid" role="presentation">
  <p class="copyright">
    &copy; 2008-{today.getFullYear()}
    <a href="https://danlevy.net/">Dan Levy</a> - All rights rebased.
  </p>

  <p class="locations">🇿🇦 🇮🇪 🇬🇧 🇺🇸</p>

  <section class="quotable" aria-labelledby="quote-attribution">
    <p>
      <span class="quote-mark">"</span>Wow! Dan, you're like an AI man!<span
        class="quote-mark">"</span
      >
    </p>
    <p id="quote-attribution">
      <cite>— <a href="https://wesbos.com/" target="_blank" rel="noopener noreferrer">Wes Bos</a> @ <a href="https://syntax.fm/" target="_blank" rel="noopener noreferrer">Syntax.fm</a></cite>
    </p>
  </section>

  <SubscribeForm />

  <section class="center syndication">
    <a href="/rss.xml" title="Need that sweet sweet RSS?">
      <RssIcon size="1.5em" />
      Need that sweet sweet RSS?
    </a>
  </section>
</footer>


<style>
  footer {
    padding: 8em 0.5em 6em 0.5em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    font-size: 0.9em;
    .locations {
      padding-block: 0.5em 1em;
    }

    /* p {
			margin: 0;
			padding: 0;
		} */
  }

  .locations {
    font-size: 1.5em;
    margin-block: 2em 1em;
  }

  section.syndication {
    margin-block: 5em 0.5em;
    text-align: center;
    font-size: 0.9em;
    /* font-style: italic; */
    font-family: "Noto Sans Mono", "Courier New", Courier, monospace;
    transition:
      transform 0.25s ease-in-out,
      scale 0.25s ease-in;

    svg {
      display: inline-block;
      color: var(--clr-muted-300) !important;
    }
    &:has(a:hover) {
      scale: 1.075;
    }

    a,
    a:visited,
    a:active,
    a:focus {
      transition:
        color 0.25s ease-in,
        text-shadow 0.25s ease-in,
        transform 0.25s ease-in-out;
      text-decoration: none;
      color: rgb(var(--clr-muted-300));
      font-size: 0.825rem;
      font-weight: 300;
      letter-spacing: 0.025rem;
    }
    a:hover {
      color: var(--neon-pink);
      text-decoration: underline;
      transform: scale(1.05);
    }
  }

</style>
