.top-header {
  padding: 0 1rem;
  /* box-shadow: 0 2px 8px rgba(var(--black), 5%); */

  h2 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-shadow: /* White glow */
      0 0 2px #fff,
      0 0 5px #fff,
      /* Color glow */
      0 0 10px var(--neon-cyan),
      0 0 21px var(--neon-cyan),
      0 0 42px var(--neon-cyan),
      0 0 82px var(--neon-cyan);
  }

  /* &:hover {
    img {
      box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px var(--neon-cyan), 0 0 16px var(--neon-cyan), 0 0 32px var(--neon-cyan);
    }
  } */


  nav h2 a {
    display: flex;
    align-items: center;
    align-content: center;
    transition: all 0.2s ease-in;
    column-gap: 0.25rem;
    font-size: 1.33rem;
  
    transition: all 0.2s ease-out;
    
    img {
      transition: all 0.2s ease-out;
      /* border: 1.8px solid transparent; */
      border: 1.8px solid #fff;
      transition: all 0.2s ease-in;
      /* box-shadow: none; */
      box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px var(--neon-cyan), 0 0 16px var(--neon-cyan);

    }
  }

  nav h2:hover {
    text-shadow: /* White glow */
    0 0 2px #fff,
    0 0 5px #fff,
    /* Color glow */
    0 0 10px var(--neon-cyan),
    0 0 21px var(--neon-cyan),
    0 0 42px var(--neon-cyan),
    0 0 62px var(--neon-cyan),
    0 0 82px var(--neon-cyan),
    0 0 102px var(--neon-cyan);

  }
  nav h2:hover a {
    transform: scale(1.0125);
    /* color: var(--neon-cyan); */

    img {
      border: 1.8px solid var(--neon-pink);
      box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px var(--neon-cyan), 0 0 16px var(--neon-cyan), 0 0 32px var(--neon-cyan);
    }
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav a {
    color: var(--text-color);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--neon-cyan);
  }

  .social-links {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    margin: 0;
    padding: 0;
  }
  .social-links svg {
    fill: var(--neon-cyan);
    fill-opacity: 70%;
    max-height: 3rem;
    max-width: 3rem;
    transition: all 0.2s ease-in;
    path {
      fill: var(--neon-cyan);
    }

    & :hover {
      fill-opacity: 100%;
      path {
        fill: var(--neon-pink);
      }
    }
  }
  .social-links a {
    max-height: 3rem;
    max-width: 3rem;
    display: flex;
    grid-row: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* scale: 1.75; */
  }

  @screen sm {
    nav h2 a {
      column-gap: 0.25rem;
      font-size: 1.6rem
    }
  }

  @screen md {
    nav h2 a {
      column-gap: 0.5rem;
      font-size: 1.8rem
    }
  }

  @screen lg {
    nav h2 a {
      column-gap: 0.75rem;
      font-size: 2.2rem
    }
  }

}

