---
// // import langs from "langs";
// import path from "path";

// type Props = {
//   sourcePath: string;
// };

// const { sourcePath } = Astro.props;
// const postPath = path.dirname(sourcePath);
// const postPathName = path.basename(path.dirname(sourcePath));

// // Get all sibling files matching `index.*.mdx` in the same directory
// // Generate a list of available translated versions, with links & local names

// console.log(postPath, "./index.*.mdx");
// const currentTranslations = import.meta.glob(
//   path.resolve(postPath, "./index.*.mdx"),
//   {
//     query: '?raw',
//     import: 'default',
//   },
// );

// console.log(currentTranslations);

// // const translations = (await Astro.glob(`index.*.mdx`))
// //   .map((path) => {
// //     const lang = path.split(`.`)[1];
// //     const langData = langs.where("1", lang);
// //     return {
// //       lang,
// //       langData,
// //       path,
// //       link: path.replace(/index\..*\.mdx/, ""),
// //     };
// //   })
// //   .filter((t) => t.lang !== "en");

// // langs.where("1", sourcePath);
// // const removeIndexFromPath = (s: string) => s.replace(/index\..*\.mdx/, "");
// // const currentUrl = Astro.url.pathname;
// // <pre><code>{JSON.stringify(currentTranslations, null, 2)}</code></pre>
---

<h1> testeroonie</h1>
