---
import { SOCIAL_GITHUB } from "../consts";
import { SOCIAL_TWITTER } from "../consts";
---

<div class="social-links">
  <a rel="me" href={`https://github.com/${SOCIAL_GITHUB}`} target="_blank">
    <span class="sr-only">Go to Dan's GitHub</span>
    <img class="icon" src="/icons/github.svg" alt="GitHub" loading="lazy" decoding="async" />
  </a>
  <a rel="me" href={`https://www.linkedin.com/in/realdanlevy/`} target="_blank">
    <span class="sr-only">Connect with me on LinkedIn</span>
    <img class="icon" src="/icons/linkedin.svg" alt="LinkedIn" loading="lazy" decoding="async" />
  </a>
  <a rel="me" href={`https://bsky.app/profile/danlevy.net`} target="_blank">
    <span class="sr-only">Follow me on Bluesky</span>
    <img class="icon" src="/icons/bluesky.svg" alt="Bluesky" loading="lazy" decoding="async" />
  </a>
  <a rel="me" href={`https://twitter.com/${SOCIAL_TWITTER}`} target="_blank">
    <span class="sr-only">Follow me on Twitter</span>
    <img class="icon" src="/icons/twitter.svg" alt="Twitter" loading="lazy" decoding="async" />
  </a>
  <a rel="me" href={`https://mastodon.social/@${SOCIAL_TWITTER}`} target="_blank">
    <span class="sr-only">Follow me on Mastodon</span>
    <img class="icon" src="/icons/mastodon.svg" alt="Mastodon" loading="lazy" decoding="async" />
  </a>
</div>
