.codeTabs {
  grid-column: content;
}

.codeTabs .tabBar {
  all: unset;
  position: relative;
  display: block;
  /* --ec-uiFontFml: var(--ec-frm-edFntFml); */
  --ec-uiFntFml: 'Noto Sans Mono',ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace;
  --header-border-radius: calc(var(--ec-brdRad) + var(--ec-brdWd));
  --tab-border-radius: calc(var(--ec-frm-edTabBrdRad) + var(--ec-brdWd));
  --button-spacing: 0.4rem;
  --code-background: var(--ec-frm-edBg);
  border-radius: var(--header-border-radius);
  box-shadow: var(--ec-frm-frameBoxShdCssVal)
}

.codeTabs .hidden {
  display: none !important;
}

/*
This is the inner tab bar that contains the title and the frame.
*/
.codeTabs div.expressive-code {
  .frame {
    border-radius: 0 !important;
    border-top: none;

  }
  .header {
    border-radius: 0 !important;
    justify-content: end;
    .title {
      border-radius: 0 !important;
      font-family: var(--ec-uiFntFml);
      opacity: 0.85;;

      &::after {
        opacity: 1;
        border-top: 0px !important;
      }
    }
  }
}

.codeTabs .tabBar .title {
  cursor: pointer;

}
.codeTabs .tabBar .header {
  padding-top: .5rem !important;
  column-gap: .5rem !important;
  padding-left: .5rem !important;
  display: none;
  z-index: 1;
  position: relative;
  border-radius: var(--header-border-radius) var(--header-border-radius) 0 0
}

.codeTabs .tabBar.hasTitle pre,.codeTabs .tabBar.hasTitle code,.codeTabs .tabBar.isTerminal pre,.codeTabs .tabBar.isTerminal code {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.codeTabs .tabBar .title:empty:before {
  content: '\a0'
}

.codeTabs .tabBar.hasTitle:not(.isTerminal) {
  --button-spacing: calc(1.9rem + 2 * (var(--ec-uiPadBlk) + var(--ec-frm-edActTabIndHt)))
}

.codeTabs .tabBar.hasTitle:not(.isTerminal) .title {
  position: relative;
  color: var(--ec-frm-edActTabFg);
  background: var(--ec-frm-edActTabBg);
  background-clip: padding-box;
  margin-block-start:var(--ec-frm-edTabsMargBlkStart);padding: calc(var(--ec-uiPadBlk) + var(--ec-frm-edActTabIndHt)) var(--ec-uiPadInl);
  border: var(--ec-brdWd) solid var(--ec-frm-edActTabBrdCol);
  border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0;
  border-bottom: none;
  overflow: hidden
}

.codeTabs .tabBar.hasTitle:not(.isTerminal) .title::after {
  content: '';
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-top: var(--ec-frm-edActTabIndHt) solid var(--ec-frm-edActTabIndTopCol);
  border-bottom: var(--ec-frm-edActTabIndHt) solid var(--ec-frm-edActTabIndBtmCol)
}

.codeTabs .tabBar.hasTitle:not(.isTerminal) .header {
  display: flex;
  background: linear-gradient(to top, var(--ec-frm-edTabBarBrdBtmCol) var(--ec-brdWd), transparent var(--ec-brdWd)),linear-gradient(var(--ec-frm-edTabBarBg), var(--ec-frm-edTabBarBg));
  background-repeat: no-repeat;
  padding-inline-start:var(--ec-frm-edTabsMargInlStart)}

.codeTabs .tabBar.hasTitle:not(.isTerminal) .header::before {
  content:'';
  position: absolute;
  pointer-events: none;
  inset: 0;
  border: var(--ec-brdWd) solid var(--ec-frm-edTabBarBrdCol);
  border-radius: inherit;
  border-bottom: none
}

.codeTabs .tabBar.isTerminal {
  --button-spacing: calc(1.9rem + var(--ec-brdWd) + 2 * var(--ec-uiPadBlk));
  --code-background: var(--ec-frm-trmBg)
}

.codeTabs .tabBar.isTerminal .header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block:var(--ec-uiPadBlk);padding-block-end: calc(var(--ec-uiPadBlk) + var(--ec-brdWd));
  position: relative;
  font-weight: 500;
  letter-spacing: 0.025ch;
  color: var(--ec-frm-trmTtbFg);
  background: var(--ec-frm-trmTtbBg);
  border: var(--ec-brdWd) solid var(--ec-brdCol);
  border-bottom: none
}

.codeTabs .tabBar.isTerminal .header::before {
  content: '';
  position: absolute;
  pointer-events: none;
  left: var(--ec-uiPadInl);
  width: 2.1rem;
  height: 0.56rem;
  line-height: 0;
  background-color: var(--ec-frm-trmTtbDotsFg);
  opacity: var(--ec-frm-trmTtbDotsOpa);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 16' preserveAspectRatio='xMidYMid meet'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Ccircle cx='30' cy='8' r='8'/%3E%3Ccircle cx='52' cy='8' r='8'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 16' preserveAspectRatio='xMidYMid meet'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Ccircle cx='30' cy='8' r='8'/%3E%3Ccircle cx='52' cy='8' r='8'/%3E%3C/svg%3E");
  mask-repeat: no-repeat
}

.codeTabs .tabBar.isTerminal .header::after {
  content: '';
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-bottom: var(--ec-brdWd) solid var(--ec-frm-trmTtbBrdBtmCol)
}

.codeTabs .tabBar pre {
  background: var(--code-background)
}

/* Hide all but 1st .expressive-code */
/* .codeTabs .expressive-code {
  display: none;

  
  &:nth-of-type(1) {
    display: block;
  }
} */
.codeTabs .tabBar .title {
  transition: background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in, border-top-color 0.2s ease-in;

  background-color: var(--ec-frm-edActTabBg) !important;
  &::after {
    border-top: var(--ec-frm-edActTabIndHt) solid var(--ec-frm-edActTabIndTopCol) !important;
  }
  &:hover::after {
    border-top: var(--ec-frm-edActTabIndHt) solid var(--neon-cyan) !important;
  }

  /* &.active::after {
    border-top: var(--ec-frm-edActTabIndHt) solid var(--ec-frm-edActTabIndTopCol) !important;
  } */

  &.active {
    background-color: var(--ec-frm-trmTtbBrdBtmCol) !important;
    &::after {
      border-top: var(--ec-frm-edActTabIndHt) solid var(--neon-pink) !important;
    }

    &:hover {
      background-color: var(--ec-frm-edActTabBg) !important;
      &::after {
        border-top: var(--ec-frm-edActTabIndHt) solid var(--neon-pink) !important;
      }
    }
  }
}

.codeTabs .tabBar .title.active:hover {
  background-color: var(--ec-frm-edActTabBg) !important;
  &::after {
    border-top: var(--ec-frm-edActTabIndHt) solid var(--neon-cyan) !important;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes fadeInFast {
  from {
    /* transform: translateX(100%); */
    opacity: .5;
  }
  to {
    /* transform: translateX(0); */
    opacity: 1;
  }
}

.codeTabs .expressive-code {
  &.slideOutRight {
    animation: slideOutRight 0.5s forwards;
  }
  &.fadeInFast {
    animation: fadeInFast 0.5s forwards;
  }
}
