
:root {
  --border-radius: .25rem;
  --party-bg: linear-gradient(
    45deg,
    #ff595e,
    #1982c4,
    #ffca3a,
    #6a4c93,
    #ff6700,
    #8ac926
  );

  --deep-purple-bg: linear-gradient(195deg, #ff00c3, #d123ba, #a42dab, #7b2f97, #552b80, #342465, #181a48, #050b2b);
  /* made at https://learnui.design/tools/gradient-generator.html */
  --rainbow-subtle: linear-gradient(90deg, #f5e7f8, #cfd9f8, #9cd2e3, #83c6ae, #9ead69, #bf8641, #c36064, #9e4f9b);

  --unicorn-bright-bg: conic-gradient(from 45deg at 70% -10%, #fff700, #f4f71a, #a4f663, #00ccd1, #724aa8, #6c1035, #5c0107, #590000);
  
  --sky-blue-bg: linear-gradient(300deg, #dedede, #dddddd, #d5d8d5, #bec9c2, #8fada5, #4a8290, #266389, #205185, #224a84, #224984);

  --red-hot-bg: radial-gradient(circle at 90% 80%, #ffdf42, #ffde41, #ffd93b, #ffca29, #ffac00, #ff7b00, #ff5100, #ff340d, #ff2511, #ff2212);

  --springtime-bg: linear-gradient(315deg, #dde409, #a6dd30, #71d34c, #36c664, #00b777, #00a786, #00968e, #00848e, #007288, #0a607b);

  --brainblow-bg: linear-gradient(315deg, #f7ff0a, #f2ff0c, #d0fe1e, #65f653, #00d6b1, #008ff2, #4a50c1, #712891, #77147e, #77107b);

  --deep-blue-bg: linear-gradient(15deg, #142850, #14365f, #13476f, #125d80, #107792, #0d96a5, #09b8b4, #04ccb1);

  --after-party-bg: linear-gradient(
    45deg,
    #ff595e99,
    #1982c499,
    #ffca3a99,
    #6a4c9399,
    #ff670099,
    #8ac92699
  );

  --cold-bg: linear-gradient(
    15deg,
    #1982c4FF,
    /* #ffca3aFF, */
    #6a4c93FF
    /* #8ac926FF */
  );
}

.quiz-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;

}

.expanded-row {
  grid-column: 1 / -1;
}

.quiz-card {
  position: relative;
  border-radius: var(--border-radius);
  padding: 4px;
  --local-color: var(--cold-bg);
  transition: background 0.3s ease-out, color 0.3s ease-out, padding 0.3s ease-out, transform 0.3s ease-out;
  
  h2 {
    font-size: 1.25rem;
    margin: 0;
  }
}

.quiz-card-inner {
  display: inline-block;
  /* padding: 1.5rem; */
  background: #222;
  color: #fff;
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
}

.quiz-card::before,
.quiz-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--local-color, --after-party-bg);
  background-size: 500%;
  z-index: -1;
  animation: none;
  animation: glow 2s linear 3 alternate ;
  /* animation-play-state: paused; */
  width: 100%;
  border-radius: var(--border-radius);
  transform: rotateX(--x-rotation) rotateY(--y-rotation) scale(1.1);
}

.quiz-card::after {
  filter: blur(25px);
  transform: translate3d(0, 0, 0);
}

.quiz-card:hover, .quiz-card:focus-within {
  --local-color: var(--party-bg);
  &::before,
  &::after {
    animation: glow 2s linear infinite alternate;
    /* animation-play-state: running; */
  }
  /* animation-play-state: running; */
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes keyRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
