---
import SocialLinks from "../components/SocialLinks.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AnalyticsTag from "../components/AnalyticsTag.astro";
import { default as defaultSocialBanner } from "../assets/social-banner.webp";
import { fade } from "astro:transitions";
import clsx from "clsx";
import SiteLinkedData from "../components/Seo/SiteLinkedData.astro";
// import { moveInOutTransition } from "../components/TransitionAnimations.ts";

const { title, subTitle } = Astro.props.frontmatter! || Astro.props;
// const url = Astro.url.pathname;

// console.log("Astro.props", Astro.props);
type Props = {
  title?: string;
  subTitle?: string;
  frontmatter?: Record<string, any>;
  socialImage?: string | ImageMetadata;
  className?: string;
};

const socialBanner = Astro.props.socialImage || defaultSocialBanner;
---

<html lang="en" transition:name="root">
  <head>
    <BaseHead title={title} description={`${subTitle}`} image={socialBanner} />
  </head>
  <body transition:animate={fade({ duration: "0.285s" })}>
    <Header className="content-grid" />
    <main class={clsx("content-grid", Astro.props.className)}>
      <slot name="default" />
    </main>
    <SocialLinks />
    <Footer />
    <AnalyticsTag />
    <SiteLinkedData />
  </body>
</html>
