---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AnalyticsTag from "../components/AnalyticsTag.astro";
import socialBanner from '../assets/social-banner.webp';

const { title, subTitle } = Astro.props.frontmatter! || Astro.props;

type Props = {
  title?: string;
  subTitle?: string;
  frontmatter?: Record<string, any>;
}
---

<html lang="en">
  <head>
    <BaseHead title={title} description={`${subTitle}`} image={socialBanner} />    
  </head>

  <body class="layout-page">
    <Header className="content-grid" />
    <main class="content-grid">
      <slot name="default"></slot>
    </main>
    <Footer />
    <AnalyticsTag />
  </body>
</html>
