---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from 'astro:transitions';

import "@/styles/nav.css";
import "@/styles/global.css";

// console.log("Page.astro", Astro.props);

import AnalyticsTag from "../components/AnalyticsTag.astro";
import { GOOGLE_ANALYTICS_ID } from "../consts";

const { title, subTitle } = Astro.props.frontmatter! || Astro.props;

---
<html lang="en">
  <head>
    <BaseHead title={title} description={`${subTitle}`} />    
    <ViewTransitions />
  </head>

  <body class="layout-page">
    <Header />
    <main>
      <slot name="default"></slot>
    </main>
    <Footer />
    <AnalyticsTag googleAnalyticsId={GOOGLE_ANALYTICS_ID} />
  </body>
</html>
