
.info-grid {
  display: grid; 

  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  
  gap: 0;
  height: 100%;  

  font-weight: 200;
  font-size: .75rem;

  align-items: center;
  
  /* div.icon {
    align-content: center;
    grid-row: span 2;
    margin: 0 0.5rem;
  } */
  
  &::before {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" class="app-calendar-icon icon" style="stroke-width:.5px" viewBox="0 0 24 24"><path d="M8 2v4"></path><path d="M16 2v4"></path><rect width="18" height="18" x="3" y="4" rx="2"></rect><path d="M3 10h18"></path></svg>');
  }
}



.line1 {

  align-self: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-wrap: nowrap;

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  
}
.line2 {


  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-wrap: nowrap;

  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
  
}