
.timeline {

  .dot-anchor {
    z-index: 1;
    margin-left: -20px;
    left: 0;
  }
  .moving-dot {
    margin-left: -20px;
    left: 22px;
  }

  .books-list .book {
    margin-left: 4rem;
  }

  @screen sm {
    .moving-dot {
      margin-left: unset;
      left: 0.8rem;
    }
    .dot-anchor {
      margin-left: unset;
      left: unset;
    }
    .books-list .book {
      margin-left: revert;
    }
  }
}